<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="Test/bootstrap.php"
         colors="true"
         failOnRisky="true"
         failOnWarning="true">
    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">Test/Unit</directory>
        </testsuite>
    </testsuites>
</phpunit>
