<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <resources>
        <resource id="Magento_Backend::admin">
            <resource id="Dart_Productkeys::productkeys" title="Product Keys" />
            <resource id="Dart_ProductkeysAnalytics::analytics" title="Analytics" />
        </resource>
    </resources>
</config>
